/* CANVAS */

#my-canvas {
    /* position: fixed;
    left: 50%; */
    /* transform: translate(-50%, 0); */
    width: 100%;
    max-width: 550px;
    /* margin-top: 10px; */
    background-color: #ffffff;
    border-radius: 10px;
    cursor: grab;
}

.canvas-container {
    /* width: 60vw;
    height: 80vh; */
    max-width: 550px;
    width: 100%;
}


/* EDITOR PANEL */

.main-editor {
    margin-top: 2vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 5vw;
    justify-content: center;
}

.editor-panel {
    max-height: 545px;
    /* max-width: 545px; */
    width: 100%;
    background-color: var(--clr2);
    border-radius: 10px;
    text-align: center;
    /* padding: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 1vw;
}

.textarea {
    display: block;
    width: 95%;
    height: 4vw;
    overflow: hidden;
    resize: both;
    line-height: 2.5vw;
    font-size: 1.5vw;
    border-radius: 10px;
    border: unset;
    cursor: inherit;
    margin-top: 1vw;
}

.control-all {
    display: flex;
    gap: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.control-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    width: 18vw;
    height: 10vw;
    background-color: var(--clr4);
}

.change-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--clr4);
    border-radius: 10px;
    width: 29vw;
    height: 10vw;
    flex-wrap: wrap;
    background-color: var(--clr4);
}


/* .amend-box {
    display: flex;
    background-color: var(--clr4);
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    flex-direction: column;
    align-items: center;
} */

.control-font {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.control-align {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.font-select {
    width: 25vw;
    height: 4vw;
    border-radius: 10px;
    font-size: 1.5vw;
    filter: drop-shadow(0.262px 4.993px 0px rgba(92, 92, 92, 0.55));
    background-color: #ffffff;
    cursor: grab;
}


/* INSIDE EDITOR */

.font-size-btn {
    background-color: unset;
    border: unset;
    font-size: 2.5vw;
    width: 4vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.font-size-btn span {
    font-size: 2vw;
}

.switch {
    border-radius: 10px;
    filter: drop-shadow(0.262px 4.993px 0px #048b97);
    background-image: linear-gradient(-38deg, #65c3db 0%, #3fb1cd 50%, #0b97bb 100%);
}

.add {
    border-radius: 10px;
    filter: drop-shadow(0.262px 4.993px 0px #015d33);
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b349 100%);
}

.delete {
    border-radius: 10px;
    filter: drop-shadow(0.262px 4.993px 0px #8c0606);
    background-image: linear-gradient(-38deg, #cf1d37 1%, #ef5036 100%);
}

.increase {
    border-radius: 10px;
    filter: drop-shadow(0.262px 4.993px 0px #3a4484);
    background-image: linear-gradient(-38deg, #0d1c6b 0%, #e6e2ee 100%);
}

.align {
    border-radius: 10px;
    filter: drop-shadow(0.262px 4.993px 0px rgba(92, 92, 92, 0.55));
    background-color: #ffffff;
}

.color-btn {
    width: 4vw;
    height: 4vw;
    border: unset;
    padding: unset;
    border-radius: 5px;
}

.btn-action {
    height: 6vw;
}

.download-btn {
    font-family: 'poppins-medium';
    font-size: 1.3vw;
    padding: 1vw;
    border-radius: 15px;
    filter: drop-shadow(0.314px 5.992px 0px #632687);
    background-color: #8f44bb;
    text-decoration: none;
    color: var(--clr3);
}

.share-btn {
    font-family: 'poppins-medium';
    width: 9vw;
    font-size: 1.3vw;
    padding: 0.8vw;
    border-radius: 15px;
    color: var(--clr3);
    filter: drop-shadow(0.314px 5.992px 0px #165c9c);
    border: unset;
    background-color: #1e7cd3;
    cursor: pointer;
}

.save-btn {
    font-family: 'poppins-medium';
    width: 9vw;
    font-size: 1.3vw;
    padding: 0.8vw;
    border-radius: 15px;
    color: var(--clr3);
    filter: drop-shadow(0.314px 5.992px 0px #43bb53);
    border: unset;
    background-color: #1ed34b;
    cursor: pointer;
}

.control-Carusel {
    display: flex;
    filter: drop-shadow(0.262px 4.993px 0px rgba(92, 92, 92, 0.55));
    background-color: #ffffff;
    border-radius: 10px;
}

.carusel {
    display: flex;
    width: 25vw;
    height: 5vw;
    font-size: 3.5vw;
    justify-content: space-evenly;
    align-items: center;
}

.slide-btn {
    color: black;
    font-size: 2vw;
    width: 3vw
}


/* MOBILE FIRST */

@media (max-width: 500px) {
    .main-editor {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .color-btn {
        width: 7vw;
        height: 7vw;
    }
    .font-size-btn {
        font-size: 4.5vw;
        width: 7vw;
        height: 7vw;
        color: black;
    }
    .control-box {
        width: 26vw;
        height: 20vw;
    }
    .change-box {
        width: 50vw;
        height: 20vw;
        flex-wrap: wrap;
    }
    .control-box>* {
        filter: unset
    }
    .btn-action>* {
        filter: unset
    }
    .btn-action {
        filter: unset
    }
    .font-select {
        width: 28vw;
        height: 6vw;
    }
    .textarea {
        display: block;
        width: 95%;
        height: 8vw;
        overflow: hidden;
        resize: both;
        line-height: 7.5vw;
        font-size: 2.5vw;
        border-radius: 10px;
        border: unset;
        cursor: inherit;
        margin-top: 1vw;
    }
    .carusel {
        display: flex;
        width: 70vw;
        height: 8vw;
        font-size: 6.5vw;
    }
    .slide-btn {
        font-size: 3vw;
        width: 4vw;
    }
    .share-btn {
        width: 18vw;
        font-size: 2.3vw;
    }
    .save-btn {
        width: 18vw;
        font-size: 2.3vw;
    }
    .download-btn {
        font-size: 2.3vw;
    }
}